<a href="https://colab.research.google.com/github/Aswin-1121/ICT-DSA/blob/main/python_practise_assignment%20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Practice problems

In [ ]:
from math import pi
r = int(input("Enter the radius:\n"))
area = pi * r**2
print ("Area of circle is:",area)

Enter the radius:
4
Area of circle is: 50.26548245743669

In [ ]:
name = input("Enter the name:\n")
Rollno = int(input("Enter the Rollno:\n"))
Mark = int(input("Enter the Mark:\n"))
print(  "Name:",name,"\n","Rollnumber:",Rollno,"\n","Mark:",Mark)

Enter the name:
Aswin
Enter the Rollno:
13
Enter the Mark:
65
Name: Aswin
 Rollnumber: 13
 Mark: 65

In [ ]:
def lar_list(list):
  large = list[0]
  for i in list:
    if i>large:
      large=i
  return large

l1=[12,3,47,10]
print("The list is:",l1,"\n")
print(lar_list(l1),"is the largest number")

The list is: [12, 3, 47, 10]

47 is the largest number

In [8]:
start = 1
end = 10
prev_num = 0

for current_number in range(start, end + 1):
    print("Current Number:", current_number)
    print("Previous Number:", prev_num)
    print("Sum:", current_number + prev_num)
    print()
    prev_num = current_number

Current Number: 1
Previous Number: 0
Sum: 1

Current Number: 2
Previous Number: 1
Sum: 3

Current Number: 3
Previous Number: 2
Sum: 5

Current Number: 4
Previous Number: 3
Sum: 7

Current Number: 5
Previous Number: 4
Sum: 9

Current Number: 6
Previous Number: 5
Sum: 11

Current Number: 7
Previous Number: 6
Sum: 13

Current Number: 8
Previous Number: 7
Sum: 15

Current Number: 9
Previous Number: 8
Sum: 17

Current Number: 10
Previous Number: 9
Sum: 19

In [ ]:
l2=[10,20,33,46,55]
div5 = list(filter (lambda i: (i%5 == 0),l2))
print("The list is:",l2,"\n","The divisors of 5 are:",div5)

The list is: [10, 20, 33, 46, 55]
 The divisors of 5 are: [10, 20, 55]

In [ ]:

num = int(input("Enter a number: "))

if num > 1:
   for i in range(2,num):
       if (num % i) == 0:
           print(num,"is not a prime number")
           break
   else:
       print(num,"is a prime number")
else:
   print(num,"is not a prime number")

Enter a number: 5
5 is a prime number

In [1]:
l5=[10,40,30,70]
print("List before reversal is:",l5)
r_list = []
for i in l5:
  r_list = [i] + r_list
print("List after reversal is:",r_list)

List before reversal is: [10, 40, 30, 70]
List after reversal is: [70, 30, 40, 10]

In [ ]:
def print_ptrn():
  print("*" * 1)
  print("*" * 2)
  print("*" * 3)
  print("*" * 4)

print_ptrn()

*
**
***
****

In [ ]:
num1 = int(input("Enter 1st number: "))
num2 = int(input("Enter 2nd number: "))
num3 = int(input("Enter 3rd number: "))

if(num1>num2) and (num1>num3):
  print(num1,"is greater")
elif(num2>num3) and (num2>num1):
  print(num2,"is greater")
else:
  print(num3,"is greater")

Enter 1st number: 450
Enter 2nd number: 500
Enter 3rd number: 210
500 is greater

In [ ]:
stars = 5

for i in range(1, stars + 1):
  print("*" * i)
for i in range(stars - 1,0,-1):
     print("*" * i)

*
**
***
****
*****
****
***
**
*

# Practice problems 2

In [4]:
ex = input("Enter a string:")
co ={}
for i in ex:
  if i in co:
    co[i]+= 1
  else:
    co[i]=1

print(co)

Enter a string:assembly
{'a': 1, 's': 2, 'e': 1, 'm': 1, 'b': 1, 'l': 1, 'y': 1}

In [5]:
def maximum(a, b, c):
    list = [a, b, c]
    return max(list)

a = 34
b = 12
c = 7
print(maximum(a, b, c))

34

In [ ]:
def exponent(base,exp):
  return base ** exp

base = int(input("Enter the base number:"))
exp = int(input("Enter its exponent:"))
result = exponent(base,exp)
print(result)

Enter the base number:5
Enter its exponent:2
25

In [6]:
def soc(n):
  soc = 0

  for i in range(1,n):
    soc += i **3

  return soc

ran =  int(input("Enter the range to find cube: "))
if ran > 1:
  cube = soc(ran)
  print("sum of cubes of +ve integer less then",ran,"is:",cube)
else:
  print("Negative numbers are not accepted at the moment")

Enter the range to find cube: 4
sum of cubes of +ve integer less then 4 is: 36

In [7]:
for i in range(1, 11):
    if i % 2 == 0 and i % 5 == 0:
        print("FizzBuzz")
    elif i % 2 == 0:
        print("Fizz")
    elif i % 5 == 0:
        print("Buzz")
    else:
        print(i)

1
Fizz
3
Fizz
Buzz
Fizz
7
Fizz
9
FizzBuzz

In [ ]:
def lele(list):
  return max(set(list),key = list.count)

listtt=[2,3,4,2,5,2]
print("Most frequent element in",listtt,"is :",lele(listtt))

Most frequent element in [2, 3, 4, 2, 5, 2] is : 2

In [ ]:
def sos(numbers):
  return sum(num ** 2 for num in numbers)

ln = [2,1,3,1]
print("Sum of squares of",ln,"is :",sos(ln))

Sum of squares of [2, 1, 3, 1] is : 15

In [ ]:
for i in range(1,16):
  if (i % 2 == 0):
    print(i,"-","even")
  else:
    print(i,"-","odd")

1 - odd
2 - even
3 - odd
4 - even
5 - odd
6 - even
7 - odd
8 - even
9 - odd
10 - even
11 - odd
12 - even
13 - odd
14 - even
15 - odd

In [ ]:
def ctf(celsius):
  return (celsius * 9/5) + 32

def ftc(fahreheit):
  return (fahreheit - 32) * 5/9

temp_fahr = 41
temp_to_cel = ftc(temp_fahr)
print("Temperature in celsius is:" ,temp_to_cel)
convert_cel_fahr = ctf(temp_to_cel)
print("Temperature converted back to Fahreheit is:" ,convert_cel_fahr)

Temperature in celsius is: 5.0
Temperature converted back to Fahreheit is: 41.0

In [ ]:
def fact(n):
  if(n == 0):
    return 1
  else:
    return n * fact(n-1)

num = int(input("Enter a number to find its factorial:"))
print("Factorial of",num,"is :",fact(num))

Enter a number to find its factorial:6
Factorial of 6 is : 720


# Discord practice problem

In [ ]:
First = input("Enter your first name:")
Last = input("Enter your last name:")

name = First +' '+Last
print("Hello",name,"! You just delved into python.")

Enter your first name:albert
Enter your last name:einstein
Hello albert einstein ! You just delved into python.

In [ ]:
n = int(input("Enter the value:"))

if (n % 2 != 0):
  print(n,"is odd")
elif n >= 2 and n <= 5:
  print("not weird")
elif n >= 6 and n <= 20:
  print("weird")
else:
  print("not weird")

Enter the value:8
weird